* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



#logo {
    font-weight: bold;
    margin-left: 30px;
    /* margin-right: 500px; */
}

nav {
    background-color: #EFE928;
    height: 40px;
    display: flex;
    align-items: center;
}

nav p{
    margin-right: 80px;
}

#search-container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    width: 400px;
}

#search-input{
    
    height: 30px;
    width: 240px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 13px;
    padding-right: 13px;
    border-radius: 30px;
    border: none;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#search-btn {
    height: 30px;
    width: 100px;
    margin-left: 20px;
    border-radius: 7px;
    border: none;
    background-color: white;
}

#search-btn:hover {
    cursor: pointer;
    background-color: #d8d7b0;
}

.sms-card {
    border: 2px solid grey;
    background-color: antiquewhite;
    margin: 10px;
    padding: 5px;
    border-radius: 7px;
}

.info-container {
    display: flex;
    justify-content: space-between;
    height: 30px;
}

.message-container {
    border: 1px solid white;
    background-color: azure;
    border-radius: 7px;
    padding: 5px;
}

.hidden {
    display: none;
}

.btn {
    background-color: #EFE928;
    border: none;
    padding: 3px;
}

.hide-btn {
    margin-top: 10px;
}

#filters-container {
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;

}

#type-filter {
    
}

#filterBtn {

}